@using Entity.Models
@model IEnumerable<Haber>
        <!--============RECENT POST===========-->
<div class="widget-sidebar">
    <h2 class="title-widget-sidebar">// RECENT POST</h2>
    <div class="content-widget-sidebar">
        <ul>
            @foreach (Haber item in Model)
            {
                <li class="recent-post">
                    <div class="post-img">
                        @*<img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-responsive">*@
                        <a href="/Haber/Detay/@item.HaberID"><img src="@item.ResimURL" class="img-responsive"></a>
                    </div>
                    <a href="/Haber/Detay/@item.HaberID"><h5>@item.Title</h5></a>
                    <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>@item.EklemeTarihi</small></p>
                </li>
            }
           
        </ul>
    </div>
</div>