@using Entity.Models
@model IEnumerable<Kategori> 

<!--=====================
     CATEGORIES
======================-->
<div class="widget-sidebar">
    <h2 class="title-widget-sidebar">// KATEGORİLER</h2>
        @foreach (Kategori item in Model)
        {
           <a class="btn categories-btn" href="/Haber/KategoriHaber/@item.KategoriID">@item.KategoriAdi</a>
               <br />
        }
   
</div>
